%h1
  About keypressr
  
%p 
  The hard part of computer programming is the mental aspect, no doubt about it.  Think algorithms, data structures, client-server interactions, etc.  
  
%p But we shouldn't underestimate importance of the data-entry aspect of programming.  While it's true that most of us (myself included, for sure) should be thinking more and typing less, I sure waste a lot of time with the Backspace key fixing mistakes.

%p 
  So I built 
  = link_to "keypressr", "/" 
  to help me improve as a <strong>programming typist</strong>.  There are tons of great typing trainers out there, but as far as I know this is the only one with <strong>code</strong> rather than plain old prose.
  
%p 
  Hopefully it'll be helpful to others as well.  Please
  = link_to "drop me a line", "mailto:colin@keypressr.com"
  if it is!

%p
  Incidentally, I'm well aware that the game is trivial to game (in a manner of speaking).  So if you see a time that seems like cheating, it's very possible that it is.  
  = link_to "Let me know", "mailto:colin@keypressr.com"
  if you see examples of such bad behavior. If it becomes widespread, I'll add some additional measures to block cheating, but for the time being let's just concentrate on our own personal typing improvement!

