%p 
  Few programmers take the time to really learn to type quickly and accurately.
  = link_to "This should change.", url(:about)
%h1 Get your keypressrs ready, and
%h1#play_button
  = link_to "Press away!", url(:game)

